* {
    margin: 0;
    padding: 0;
  }


.container {
    position: relative;
    width: 700px;
    height: 500px;
    margin:auto;
    margin-top: 100px;
    border: 1px solid black;
    

}

.buttonPo {
    position: absolute;
    width:700px;
    height: 50px;
    left:0;
    top:0;
    background-color: #00BFFF;
    text-align: left;
    color:white;
    font-size: 20px;
    
    
}
.custom-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .plus-sign {
    margin-left: 10px;
  }
.input {
    position: absolute;
    margin-top:50px;
    margin-left :249px;
    margin-right: 0px;
    height: 50px;
    width: 450px;
    padding: 10px;
    border-color: rgb(90, 85, 85);
    font-size: 15px;
   
   

}
 .contain {
  margin-top: 50px;
 }
 .modal {

  margin-right: 10px;
  width: 250px;
  padding: 10px;
  border: 1px solid rgb(90, 85, 85);
 
 }
 .modal_btn {
  margin-left: 220px;
  background: transparent;
  border: 1px solid white;
  
 }
 .modalM_btn {
  margin-left: 220px;
  background: transparent;
  border: 1px solid white;

  
 }
 .modal_body {
  font-size: 15px;
 }

 #returnHome {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  padding: 10px;
  
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 50px;
  padding: 30px;
  border: 1px solid #00BFFF;
}
#body h1{
  padding: 20px;
  
}
#body a{
  padding: 5px;
  
  background-color: #00BFFF;
  color: white;
}